.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--curso-background-color);
    gap: 1rem;
}

.types-course {
    width: 60vw;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-1, .card-2, .card-3 {
    background-color: var(--secondary-color);
    border-radius: 9px;
    font-size: 1rem;
    padding: 1rem;
}

.title-courses {
    font-size: 2rem;
}

.cards-sub {
    text-align: center;
    line-height: 2.5rem;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
}

#btn-cursos {
    background-color: var(--text-color);
    color: var(--secondary-color);
    border-radius: 9px;
    width: 20vw;
    padding: 1rem;
    margin-bottom: 2rem;
}

.description-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem 0;
    font-size: 2em;
}

.cards-tit {
    font-size: 1.5em;
    font-weight: var(--fw-bold);
}

.cards-sub {
    font-size: 1.2em;
}

.item-modules {
    width: 60vw;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: 12px;
    color: var(--text-color);
}