.registration {
  width: 80vw;
  background-color: var(--curso-background-color);
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding-top: 4rem;
}

#form-regist {
  display: flex;
  flex-direction: column;
}

#title-regist {
  margin-bottom: 1rem;
  font-weight: 900;
}

input {
  width: 15vw;
  height: 3.5vh;
  border: none;
  border-radius: 5px;
}

label {
  font-size: 0.8em;
  font-weight: 900;
}

#regist-bttn {
  width: 15vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--text-color);
  color: var(--secondary-color);
}

#img-green-check {
  width: 13%;
  height: 13%;
}

#title-regist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
